<div class="container">
<h1><%= @cocktail.name %></h1>

<% @doses.each do |dose| %>
  <p class="description"><%= dose.description %> of <%= dose.ingredient.name %>
  <%= link_to 'destroy this dose', dose_path(dose), method: :delete %>
   </p>
<% end %>

<button type='button' onclick="location.href='<%= new_cocktail_dose_path(@cocktail) %>';">add a new dose to cocktail</button>
<button type='button' onclick="location.href='<%= cocktails_path %>';">Back to list</button>
</div>



