<div class="container">
  <div class="card-deck col-sm-6 ">
    <div class="card text-left pl-5 pb-5 pt-5 mt-5">
     <div class="card-block">
<h1 class="card-title"><%= @cocktail.name %></h1>
<p class="card-text">
<% @doses.each do |dose| %>
  <div class="card-product-infos">
  <p class=""><%= dose.description %> of <%= dose.ingredient.name %>
  <%= link_to 'destroy this dose', dose_path(dose), method: :delete %>
   </p>
<% end %>
</div>
</p>
</div>
</div>
</div>



<button type='button' onclick="location.href='<%= new_cocktail_dose_path(@cocktail) %>';">add a new dose to cocktail</button>
</div>
<button type='button' onclick="location.href='<%= cocktails_path %>';">Back to list</button>




