<div class="container">
<h1><%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.submit "add a new dose" %>
<% end %>
<button type='button' onclick="location.href='<%= cocktails_path %>';">Back to list</button>
</div>
